@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222 !important;
  font-family: "Space Grotesk", sans-serif !important;
}

a:visited {
  text-decoration: none;
  color: #030303;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #414141;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffcd33;
}

/* Handle on hover */

header {
  width: 100%;
  background: #171717 !important;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 998;
}

header .newNavbar {
  max-width: 1600px;
  margin: 0 auto;

  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 100%;
  margin-left: -2rem;
}

.hamburguer {
  width: 30px;
  height: 30px;

  background-color: transparent;
  border-radius: 5px;
  border: 0;

  position: relative;
  cursor: pointer;

  display: none;
}

.hamburguer:after {
  content: "";

  position: absolute;
  top: 35%;
  left: 15%;

  width: 70%;
  height: 10%;
  border-radius: 5px;

  background: #fff;
}

.hamburguer::before {
  content: "";

  position: absolute;
  top: 55%;
  left: 15%;

  width: 70%;
  height: 10%;
  border-radius: 5px;

  background: #fff;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  margin-left: 10px;
}

.entrar {
  color: #030303;
  border: 0;
  background: #ffcd33;
  width: 100%;
  padding: 0.4rem 2rem;
  transition: ease-in all 0.3s;
}

.entrar:hover {
  background: #fff;
}

.criarConta {
  color: #ffcd33;
  border: 0;
  background: none;
  border: 1px solid #ffcd33;
  width: 100%;
  padding: 0.4rem 2rem;
  transition: ease-in all 0.3s;
}

.criarConta:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #8a8a8a;
  transition: ease-in all 0.1s;
}

.menu li a:hover {
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .menu li a {
    padding: 0 0.3rem;
  }
}

@media screen and (max-width: 990px) {
  .hamburguer {
    display: block;
    z-index: 999;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    height: 100vh;
    margin: 0;
    background-color: #222222;

    width: 100%;
    max-width: 250px;

    padding: 100px 20px;

    flex-direction: column;
    transition: ease all 0.5s;
  }

  .menu .entrar {
    margin-top: 10rem;
  }

  .menu.active {
    right: 0;
  }
}

main {
  padding-top: 15rem;
  background: url("../img/listra.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

main h1 {
  font-size: 3rem;
  color: #fff;
}

main p {
  color: #f3f3f3;
  padding-top: 1rem;
  font-size: 1.3rem;
  padding-right: 8rem;
  font-weight: 300;
}

main button {
  background: #ffcd33;
  color: #030303;
  margin-top: 1rem;
  border: 0;
  width: 30%;
  padding: 0.8rem 0;
  font-size: 1.1rem;
  font-weight: 400;
  transition: ease-in all 0.3s;
}

main button:hover {
  background: #fff;
}

main .imagem {
  text-align: center;
}

main .imagem img {
  width: 50%;
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  main .imagem img {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 990px) {
  main {
    background-position-x: 300px;
    background: none;
    padding-top: 10rem;
  }

  main h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
  }

  main p {
    text-align: center;
    padding: 0;
    padding-top: 1rem;
  }

  main .botao {
    text-align: center;
  }

  main button {
    width: 90%;
  }

  main .imagem img {
    padding-top: 3rem;
    width: 60%;
  }
}

#apresentacao {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

#apresentacao .listra {
  text-align: center;
}

#apresentacao h1 {
  color: #fff;
  text-align: center;
  padding: 0 15rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#apresentacao .navigation {
  display: flex;
  flex-direction: column;
}

#apresentacao .navigation button .crosssell {
  margin-left: -0rem !important;
}

#apresentacao .navigation button .downsell {
  margin-left: -1rem !important;
}

#apresentacao .navigation button .upsell {
  margin-left: -2.7rem !important;
  margin-right: 0.8rem;
}

#apresentacao .navigation button {
  background: #363636;
  color: #b4b2af;
  border: 0;
  margin: 0.5rem 0;
  width: 60%;
  padding: 0.8rem 0;
  font-size: 1.1rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: ease-in all 0.4s;
}

#apresentacao .navigation button:hover {
  color: #030303;
  background: #ffcd33;
}

#apresentacao .navigation button.active {
  background: #ffcd33;
  color: #030303;
}

#apresentacao .navigation button img {
  color: #fff;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #8a8a8a;
  display: inline-flex;
  align-items: center;
}

#apresentacao .navigation .desktop {
  padding-top: 5rem;
}

#apresentacao .navigation .desktop a {
  color: #e4e4e4;
  text-decoration: none;
  font-size: 1.2rem;
}

#apresentacao .mobile {
  display: none;
}

@media screen and (max-width: 980px) {
  #apresentacao h1 {
    padding: 0;
  }

  #apresentacao .mobile {
    display: block;
  }

  #apresentacao .mobile a {
    color: #e4e4e4;
    text-decoration: none;
    font-size: 1.2rem;
  }

  #apresentacao .desktop {
    display: none;
  }

  #apresentacao .videos {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  #apresentacao .navigation button {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  #apresentacao .navigation a {
    padding-bottom: 3rem;
  }
}

#integracao {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

#integracao h1 {
  color: #fff;
  font-size: 3rem;
  margin-top: 1rem;
}

#integracao p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
}

#integracao .listra3 img {
  margin-top: 8rem;
}

#integracao button {
  background: #ffcd33;
  color: #030303;
  border: 0;
  width: 70%;
  margin-top: 8rem;
  padding: 0.5rem 0;
  font-weight: 600;
  transition: ease-in all 0.3s;
}

#integracao button:hover {
  background: #fff;
}

@media screen and (max-width: 990px) {
  #integracao .imagem {
    text-align: center;
  }

  #integracao .imagem img {
    width: 90%;
  }

  #integracao .listra3 img {
    width: 100%;
    padding-bottom: 3rem;
  }

  #integracao .listra {
    text-align: center;
  }

  #integracao h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  #integracao p {
    text-align: center;
    font-size: 1.1rem;
  }

  #integracao .botao {
    text-align: center;
  }

  #integracao button {
    margin: 0;
    margin-top: 1rem;
  }
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

#negocio {
  color: #fff;
  background: url("../img/listra4.png"), #393939;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-size: 3%;
  background-position-y: 50px;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#negocio h1 {
  text-align: center;
}

#negocio p {
  font-size: 1.2rem;
  font-weight: 300;
}

#negocio ul {
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  margin-top: 2rem;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  border-radius: 0px !important;
  padding: 0.8rem;
  width: 15vw;
  cursor: pointer;
  background: #454545 !important;
  color: #fff !important;
  font-size: 1.1rem;
  transition: all ease-in 0.3s;
}

.nav-item button.active {
  background: #ffcd33 !important;
  color: #030303 !important;
}

.tab:hover {
  background: #ffcd33;
  color: #030303;
}

.tab-content {
  margin-top: 3rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

#ecommerce {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  justify-content: center;
}

#perpetuo {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  justify-content: center;
}

#lancamentos {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  justify-content: center;
}

#ecommerce .imagem {
  text-align: right;
}

#perpetuo .imagem {
  text-align: right;
}

#lancamentos .imagem {
  text-align: right;
}

#negocio h3 {
  color: #ffcd33;
}

@media screen and (max-width: 369px) {
  #negocio .nav-link {
    height: 5vh;
    width: 90vw;
  }
}

@media screen and (max-width: 990px) {
  #negocio {
    background: #393939;
  }

  .nav-link {
    width: 30vw;
    font-size: 0.8rem;
    padding: 0.8rem 0;
    text-align: center;
    margin: 0 auto;
  }

  #ecommerce .imagem {
    display: none;
  }

  #perpetuo .imagem {
    display: none;
  }

  #lancamentos .imagem {
    display: none;
  }
}

#jornada {
  padding-top: 9rem;
  padding-bottom: 9rem;
  color: #fff;
}

#jornada h1 {
  font-weight: 300;
  color: #e7e7e7;
  padding-top: 1rem;
  font-size: 2.5rem;
}

#jornada .listra {
  text-align: right;
  padding-top: 3rem;
}

#jornada .cards {
  padding-top: 3rem;
}

#jornada .newCard {
  background: #4a4a4a;
  padding: 2rem;
  width: 100%;
  height: 90%;
  margin: 1rem;
  text-align: left;
  transition: ease-in all 0.3s;
}

#jornada .c2 {
  background: #414141;
}

#jornada .c3 {
  background: #323232;
}

#jornada .c4 {
  background: #323232;
}

#jornada .c5 {
  background: #414141;
}

#jornada .titulo {
  display: flex;
  justify-content: space-between;
}

#jornada .titulo h5 {
  color: #ffcd33;
  font-weight: 400;
}

#jornada .newCard p {
  font-size: 1.1rem;
  font-weight: 300;
  color: #e7e7e7;
  padding-top: 1rem;
}

#jornada .titulo .icon {
  text-align: right;
}

#jornada .titulo .icon img {
  width: 70%;
}

#jornada .criar {
  text-align: right;
  padding-top: 1rem;
}

#jornada .criar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: ease-in all 0.3s;
}

#jornada .criar a:hover {
  color: #ffcd33;
}

#jornada .criar i {
  padding-left: 1rem;
}

@media screen and (max-width: 980px) {
  #jornada h1 {
    font-size: 2rem;
    text-align: center;
  }

  #jornada .listra {
    display: none;
  }

  #jornada .listraDourada {
    text-align: center;
  }

  #jornada .newCard {
    width: 90%;
    height: 90%;
  }

  #jornada .criar {
    text-align: center;
  }
}

#pago {
  background: #323232;
  text-align: center;
  color: #fff;
  width: 100%;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

#pago h1 {
  font-size: 3rem;
  font-weight: 400;
  padding: 0rem 5rem;
}

#pago .titulo p {
  font-size: 1.2rem;
  padding: 0 8rem;
  color: #e7e7e7;
  font-weight: 300;
}

#pago .cards {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

#pago .newCard {
  background: #fff;
  color: #323232;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 5rem;
  height: 100%;
}

#pago .icon {
  padding-top: 1rem;
}

#pago .icon h3 {
  font-size: 2.8rem;
}

#pago .newCard p {
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

#pago .botao button {
  background: #ffcd33;
  color: #030303;
  border: 0;
  width: 50%;
  margin-top: 4rem;
  padding: 0.8rem 0;
  font-size: 1.1rem;
  font-weight: 500;
  transition: ease-in all 0.3s;
}

#pago .botao button:hover {
  background: #fff;
  outline: none;
}

@media screen and (max-width: 990px) {
  #pago h1 {
    padding: 0;
    font-size: 2rem;
    padding-top: 1rem;
  }

  #pago .titulo p {
    padding: 0;
    font-size: 1.1rem;
  }

  #pago .newCard {
    margin: 0 auto;
    height: 30vh;
    margin-top: 1rem;
    width: 90%;
  }

  #pago .botao button {
    width: 90%;
  }
}

#conteudos {
  background: url("../img/listraBackground.png"), #454545;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

#conteudos h1 {
  font-size: 3rem;
  font-weight: 300;
  width: 40%;
}

#conteudos .cards {
  padding-top: 3rem;
}

#conteudos .imagem {
  text-align: left;
  cursor: pointer;
}

#conteudos .imagem img {
  width: 90%;
}

#conteudos .newCard {
  width: 90%;
}

#conteudos p {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  width: 85%;
}

#conteudos .materia2 {
  margin-top: 3rem;
}

#conteudos a {
  color: #ffcd33;
  text-decoration: none;
  padding-top: 1rem;
}

@media screen and (max-width: 990px) {
  #conteudos h1 {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }

  #conteudos .newCard {
    margin-top: 2rem;
    margin-left: auto;
  }

  #conteudos .newCard img {
    width: 80%;
  }
}

#duvidas {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

#duvidas h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5rem;
  color: #f3f3f3;
}

#duvidas span {
  font-weight: 300;
}

#duvidas .faq {
  max-width: 1600px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

#duvidas .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#duvidas .question h3 {
  font-size: 1.3rem;
  color: #efefef;
  font-weight: 400;
}

#duvidas .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

#duvidas .answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

#duvidas i {
  color: #fff;
  font-size: 1.2rem;
}

#duvidas .faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

#duvidas .faq.active i {
  transform: rotate(90deg);
}

#duvidas i {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 990px) {
  #duvidas h1 {
    font-size: 2rem;
    text-align: left;
  }

  #duvidas .question h3 {
    font-size: 1.2rem;
  }

  #duvidas .answer p {
    font-size: 1rem;
  }
}

footer {
  background-color: #181818;
  color: #efefef;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer .logo {
  padding-bottom: 2rem;
}

footer .logo img {
  width: 35%;
}

footer .links {
  text-align: right;
  display: flex;
  justify-content: right;
}

footer .links a {
  text-decoration: none;
  color: #fff;
  padding-right: 2rem;
  font-size: 1.1rem;
  transition: ease-in all 0.3s;
}

footer .links a:hover {
  color: #ffcd33;
}

footer .icons {
  text-align: right;
  padding-top: 2rem;
}

footer .icons a {
  padding-right: 2rem;
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  footer {
    text-align: center;
  }

  footer .links {
    text-align: center;
    justify-content: center;
  }

  footer .icons {
    text-align: center;
  }

  footer .icons a {
    padding-right: 1rem;
  }
}
